<title>Examen Fily</title>

<meta charset="UTF-8" />
<meta charset="ISO-8859-1" />
<link rel="stylesheet" href="/css/style.css?<?php echo time(); ?>" />
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/icon.min.css'>
<link rel = "stylesheet" href = "/css/login.css">