<div class = "ui grid">
    <div class = "computer only row">
        <div class="ui borderless menu fixed" id = "menuComputadora">
            <a href="index.php">
                <div class="header item" id = "logoNombre">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examen Parcial 2
                </div>
            </a>
            <a href="displayFailures.php"class="item">Registros</a>
            <a class="ui basic button" href="#" onClick="cargarR();">
                <a class="ui basic button" href="#" onClick="cargarR();">
                    <a class="ui basic button" href="#" onClick="cargarR();">
                        
                        <div class = "ui grid">
    <div class = "computer only row">
        <div class="ui borderless menu fixed" id = "menuComputadora">
            <a href="index.php">
                <div class="header item" id = "logoNombre">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examen Parcial 2
                </div>
            </a>
            <a href="index.php" class="item">Inserta la clave</a>
            
            <a href="displayFailures.php"class="item">Registros</a>
            <a href="index.php" class="item">Inserta la clave</a>
            <a href="displayFailures.php"class="item">SYSTEM FAILURES</a>
            <a href="displayTotal.php"class="item">Total de SYSTEM FAILURES y SUCCESS</a>
    </div>
</div>

    </div>
</div>

