/**main**/
#sitio{
    margin-top: -0.5em;
}
#contenido{

    background-color:#FBFBFB;
    margin-top:-1em;
}

#videoContenedor{
    height: 100%;
    width: 105%;
    margin-left:-1.4em;
    overflow-y:scroll;
    position:relative;
    /*pointer-events: none;*/
    
}

.youtube-player {
    position: relative;
    padding-bottom: 45%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0px;
}
    
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
    
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: default;
    -webkit-filter: brightness(80%);
    background: transparent;
}

#tituloVideo{
    position:fixed;
    margin-top: -7em;
    font-size:4.7em;
    margin-left:1.3em;
    color: #F1F4F3;
}



#subtituloVideo{
    position:fixed;
    margin-top: -17em;
    margin-left: 4.2em;
    font-size:1.5em;
    color: #F1F4F3;
}

#verVideo{
    position:fixed;
    margin-top:-18em;
    padding: 1.5em 3.5em;
    margin-left: 23em;
    cursor: pointer;
    background-color:#1CABE3;
    color:#FFFFFF;
     border: 0.2em solid #1CABE3;
     
}

#botonAcercaDe{
    position:fixed;
    padding: 1.5em 3.5em;
    margin-top:-18em;
    margin-left:6.5em;
    border: 0.15em solid #fff;
    background-color:transparent;
    color:#fff;
    
}

#numeros{
    background-color:#ECF0F1;
    margin-top:-2.3em;
    height:20em;
}


#casasHogarTitulo{
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin-top:2em;
    letter-spacing: 0.1em;
    
}

#casasHogarSubtitulo{
    font-weight: 500;
    margin-top:1em;
}

#grid{
    margin-top:-1em;
    margin-left: 0.5em;
}

#logoNombre{
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin-top:0.2em;
}

.textoValor{
    font-size: 1.5em;
    margin-top: 1.5em;
    font-family: 'Lato', sans-serif;
    visibility:hidden;
}

.huge.icon.index{
    margin-top: 0.5em;
    color:#1CABE3;
    visibility:hidden;
}


.textoValorNumero{
    font-size: 3.5em;
    font-weight: bold;
    margin-top:1.5em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    visibility:hidden;
}

#segmentoCasas{
    height: 34.8em;
    margin-left: -3em;
}

#map{
    height: 32.3em;
    width: 33em;
}

#mapLoader{
    width: 35em;
}

#articulosIndex{
    background-color:#FBFBFB;
    margin-top:-1em;
}

.ui.container.articles{
    height:15em;
    width:25em;
}

.ui.container.articles:hover .ui.image.articles.index{
    -webkit-filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
    -o-filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
    -moz-filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
    filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
}

.ui.container.articles:hover .ui.secondary.button.articles{
    visibility:visible;
}

.ui.image.articles.index{
    height:15em;
    width:25em;
}

#articulosIndexGrid{
    margin-top:3em;
}

#articulosIndexHeader{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#articulosIndexBlockIcon{
    color:#1CABE3;
}

.ui.secondary.button.articles{
    margin-top: -8.5em;
    margin-left: 8.5em;
    position: absolute;
    visibility:hidden;
}

/**Contacto**/

#gracias{
    height:84%;
    width:100%;
    background-color:#FBFBFB;
}

#graciasTexto{
    margin-top:10em;
}

#completo{
    margin-top: 2em;
}

#mail{
  margin-top: 1em;  
}

#telefono{
    margin-top: 1em;
}

#descripcion{
    margin-top: 1em;
}

#enviarContacto{
    margin-top: 1em;
}

#contactanos{
    font-family: 'Lato', sans-serif;
}

#textoContacto{
    color: #676767;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}

#gridDetalles{
    margin-top: 1em;  
}

#bodyContacto{
    font-size: 1.15em;
}
#contenidoContacto{
    background-color:#FBFBFB;
    margin-top:-1em;
}

#pequeno{
    max-width: 450px;
}

#mapContacto{
    width: 100%;
    height: 70%;
}

.maps iframe{
    pointer-events: none;
}

/**Galeria**/

#fotos{
    background-color:#FBFBFB;
}

#galeria{
    height: 30%;
    width: 100%;
    
}

.ui.segment.fotos
{
    box-shadow: none;
    
}

#image:hover{
    width:100px;
    height:100px;
}

#background{
    background-color: #F4F4F4;
}

/**somos**/

.ui.parallax {
    height: 10em;
}
    
.parallax-window {
    min-height: 400px;
    background: transparent;
}

#misionVision{
    background-color: #373B3D;
    height:30em;
    margin-top:-1em;
}

#mainContainerSomos{
    background-color:#FBFBFB;
    height:30em;
}

#quienesSomos{
    margin-top:5em;
}

#textoQuienesSomos{
    font-size:1.2em;
    line-height:1.5em;
    margin-top:1em;
}
.huge.icon.somos{
    color:#fff ;
    background-color:#1CABE3;
    margin-top:1em;
}

.huge.icon.somos:hover{
    color:#1CABE3;
    background-color:#323537;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.textoSomos{
    margin-top:0.5em;
    color: #fff;
    font-size: 1.1em;
    font-weight:500;
    line-height:1.5em;
}

/* possiblly semantic styles */
.ui.parallax {
    background-attachment: fixed;
}

.ui.fluid.parallax{
    width: 100%;  
}


/**General**/
.menu{
    position: fixed;
    top: 0px;
    left: auto;
}

.desaparece{
    visibility: hidden;
}

.aparece{
    visibility:visible;
}

#boton-navegacion{
    background-color:transparent;
    color:#1CABE3;
}

/**Menu**/

.logon {
    height: 9em;
    width: 9em;
}


.logocasahogar{
    height: 7.5em;
    cursor:pointer;
    
}

.perfil {
    height: 4em;
    width: 4em;
}

#menuComputadora{
    height: 6em;
}

/**Login**/

#login{
    margin-left:2em;
    margin-top: -0.5em;
    background:none;
    border: 0.1em solid #1CABE3;
    color:#1CABE3;
}

#exit{
    background:none;
    color:red;
}

#name{
    background:none;
    COLOR:BLACK;
}

#opcionesFooter{
    margin-left:-10em;
}
#item4Footer{
    color: #5E5E5E;
}

#item2Footer{
    color: #5E5E5E;
}

#item5Footer{
    color: #5E5E5E;
}

#copy{
    color: #5E5E5E;
}

#item1Footer{
    color: #5E5E5E;
}

#item3Footer{
    color: #5E5E5E;
}

#footer{
    background-color:#FBFBFB;
    margin-top:-1em;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

h1{text-align: center;}

/**Mobil**/

#menuMobil{
    background-color: #fff;
}

/**loader**/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/img/loader1.gif') center no-repeat #fff;
}


/**#image{
    width:75%;
    height:125%;
}

#image:hover{
    width:100%;
    height:133%;
}**/

.ui.cards{
    margin-left:4em;
    margin-top: 2em;
}

/**we**/

#weSegment{
    background-color: #FBFBFB;
    height:80em;
}

#weHeader{
    margin-top:3em;
    color:#078AE0;
    letter-spacing: 0.05em;
}

#textoWe{
    color:#494F60;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

#mariana{
    margin-top:-13.15em;
    margin-left:3.7em;
    
}

#mancha{
    margin-top:-13.15em;
    margin-left:3.7em;
}

.ui.image.davidFily{
    margin-top:4em;
    margin-left: 2.5em;
}

.ui.image.ManchaMariana{
    margin-top: 26em;
    margin-left: 2em;
}

#wegrid{
    margin-top: -4em;
}

#textoMariana{
    background-color:#000000;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: -1.2em;
}

#david{
    margin-top:-13.15em;
    margin-left:4.3em;
}

#fily{
   margin-top:-13.15em;
    margin-left:4.3em; 
}

#logoWe{
    margin-top: 4em;
}

.helpWe{
    margin-left: 2em;
}

#textoDavid{
    background-color:#000000;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: -1.2em;
}

#weSegement2{
    height:45em;
}

.ui.small.circular.image.we{
    margin-top:-13em;
}

.ui.small.circular.image.we:hover{
    -webkit-filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
      filter: brightness(70%) sepia(1) hue-rotate(160deg) saturate(150.2%) brightness(91.2%);
}

#logoFcore2{
    margin-top:6em;
}

.ui.basic.center.aligned.segment.nombres.we{
    font-family: 'Lato', sans-serif;
    font-size:1.5em;
}


/*Articulos*/

#contenedorArticulosImagen{
    width:100%;
    height:50%;
    
}

#imagenHeaderArticulos{
    height:70%;
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
    position:fixed;
    margin-left:-1em;
    z-index:-10;
}

#headerPrincipalArticulos{
    margin-top:3.5em;
    margin-left:2em;
    font-family: 'Lato', sans-serif;
    font-size:3em;
    color: #fff;
    position:fixed;
}

#subtitlePrincipalArticulos{
    margin-top:8.7em;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    margin-left:3.7em;
    position:fixed;
}

.description{
    color: white;
}

.date{
    color: #BFBFBF;
}

/**MiCuenta**/

.ui.basic.segment.help{
    background-color:#FBFBFB;
}

.ui.header.top{
    margin-top:4.5em;
}

.ui.basic.segment.white{
    background-color:#fff;
}

.ui.basic.segment.top{
    margin-top:-1em;
}

#headerSegmentMiCuenta{
    height:10em;
}

.ui.segment.white.page{
    margin-top: 8.5em;
}

.ui.basic.segment.help.page{
    height:38.8em;
}

.infoMiCuenta{
    margin-top:-1em;
}

.miCuentaLabel{
    margin-top:1em;
}

#SegmentoMiCuenta{
    height:33em;
}

#agregarArticulo{
    position:fixed;
    margin-top:42%;
    z-index:20;
    margin-left:94%;
}

#popupArticulos{
    position: fixed;
}

#gridAgregarArticulo{
    margin-top:1em;
}